<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if(user) { %>
    <h2>Welcome <%= user.name %></h2>
    <% }%>

    <a href="/logout">Logout</a>

    <h1>
        This is the dashboard page
    </h1>
  </body>
</html>
